<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ObiletDemo.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "list")
        {
            <div class="header-back-button"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-long-arrow-alt-left"></i></a> </div>
        }

        <div class="header-text">@ViewBag.Title</div>
        <div class="header-date">@ViewBag.Date</div>
    </header>
    <div class="container pb-1">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ObiletDemo.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
    <script src="~/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/font-awesome/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
